= render "shared/flash"

= form_for(:user, url: admins_celebrities_path) do |form|
  %div
    = form.label t("components.user_creator.labels.email")
    = form.email_field :email
    = @presenter.content_error(:email)
  %div
    = form.label t("components.user_creator.labels.name")
    = form.text_field :name
  %div
    = form.label t("components.user_creator.labels.country")
    = form.select(:country, Country.order(:name).pluck(:name, :code_iso), include_blank: true)
    = @presenter.content_error(:country)
  %div
    = form.label t("components.user_creator.labels.phone")
    = form.phone_field :phone
    = @presenter.content_error(:phone)
  %div
    = form.label t("components.user_creator.labels.known_as")
    = form.text_field :known_as
    = @presenter.content_error(:known_as)
  %div
    = form.label t("components.user_creator.labels.password")
    = form.password_field :password
    = @presenter.content_error(:password)
  %div
    = form.label t("components.user_creator.labels.password_confirmation")
    = form.password_field :password_confirmation
    = @presenter.content_error(:password_confirmation)
  %div
    = form.submit t("components.user_creator.actions.submit")
